<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of employees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/employees/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">Add employee</a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp:${list}">
            <td th:text="${temp.firstName}"/>
            <td th:text="${temp.lastName}"/>
            <td th:text="${temp.email}"/>
            <td>
                <a th:href="@{/employees/update(employeeId = ${temp.id})}"
                   class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/employees/delete(employeeId = ${temp.id})}"
                   class="btn btn-danger btn-sm"
                onclick="if (!(confirm('Are you sure you wanna delete this employee?'))) return false">
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>